{%extends 'admin_base.html'%}
{%block content%}
<br><br>
<div id="admin" class="container">
    
    <div class="row-g3">
        <div class="col-sm-5 round p-2 mb-2">
            <h4>Admin Login</h5>
            <form method="post" action="{{ url_for('login') }}" class="padder">
                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" name="username" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" name="password" class="form-control" required>
                </div>
                <button type="submit" class="btn btn-secondary">Login</button>
            </form>
            {% with messages = get_flashed_messages(with_categories=true) %}
              {% if messages %}
                {% for category, message in messages %}
                  <div class="alert alert-{{ category }}">{{ message }}</div>
                {% endfor %}
              {% endif %}
            {% endwith %}
        </div>
    </div>
    
</div>
{%endblock%}
